<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
 

  <targets>    
    <target name="log_to_file" xsi:type="File" fileName="${basedir:fixtempdir=true}/logs/all-level.${shortdate}.log" archiveAboveSize="5242880" maxArchiveFiles="30"
			      layout="[${level:uppercase=false}]: ${longdate} | ${logger}[${threadid}] | ${callsite} |${when:when='${message}'=='':inner=:else=&#xD;&#xA;&#x9;${message}}${when:when='${exception:type}'=='':inner=:else=&#xD;&#xA;${exception:type,message:separator=\: }${when:when='${exception:stacktrace}'=='':inner=:else=&#xD;&#xA;${exception:stacktrace}}}" />    
    <target name="log_to_file2" xsi:type="File" fileName="${basedir:fixtempdir=true}/logs/${level}.${shortdate}.log" archiveAboveSize="5242880" maxArchiveFiles="30"
			      layout="[${level:uppercase=false}]: ${longdate} | ${logger}[${threadid}] | ${callsite} |${when:when='${message}'=='':inner=:else=&#xD;&#xA;&#x9;${message}}${when:when='${exception:type}'=='':inner=:else=&#xD;&#xA;${exception:type,message:separator=\: }${when:when='${exception:stacktrace}'=='':inner=:else=&#xD;&#xA;${exception:stacktrace}}}" />
    <target name="log_to_file3" xsi:type="File" fileName="${currentdir}/logs/${shortdate}/all-level.log" archiveAboveSize="5242880" maxArchiveFiles="30"
			      layout="[${level:uppercase=false}]: ${longdate} | ${logger}[${threadid}] | ${callsite} |${when:when='${message}'=='':inner=:else=&#xD;&#xA;&#x9;${message}}${when:when='${exception:type}'=='':inner=:else=&#xD;&#xA;${exception:type,message:separator=\: }${when:when='${exception:stacktrace}'=='':inner=:else=&#xD;&#xA;${exception:stacktrace}}}" />    
    <target name="log_to_file4" xsi:type="File" fileName="${currentdir}/logs/${shortdate}/${level}.log" archiveAboveSize="5242880" maxArchiveFiles="30"
			      layout="[${level:uppercase=false}]: ${longdate} | ${logger}[${threadid}] | ${callsite} |${when:when='${message}'=='':inner=:else=&#xD;&#xA;&#x9;${message}}${when:when='${exception:type}'=='':inner=:else=&#xD;&#xA;${exception:type,message:separator=\: }${when:when='${exception:stacktrace}'=='':inner=:else=&#xD;&#xA;${exception:stacktrace}}}" />

    <target name="console" xsi:type ="ColoredConsole"
            layout="[${level:uppercase=false}]: ${longdate} | ${logger}[${threadid}] | ${callsite} |${when:when='${message}'=='':inner=:else=&#xD;&#xA;&#x9;${message}}${when:when='${exception:type}'=='':inner=:else=&#xD;&#xA;${exception:type,message:separator=\: }${when:when='${exception:stacktrace}'=='':inner=:else=&#xD;&#xA;${exception:stacktrace}}}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-word foregroundColor="DarkGreen" ignoreCase="true" regex="^\[(info)\]:" wholeWords="false" />    
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />  
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-word foregroundColor="Red" ignoreCase="true" regex="^\[(error)\]:" wholeWords="false" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="White" /> <!--DarkRed-->
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkMagenta" />      
    </target>
    
    <target xsi:type="Null" name="ignore" />

    <!--#begin log_to_json_file -->
    <target name="log_to_json_file" xsi:type="File" fileName="${currentdir}/logs_json/all-level.${shortdate}.log" archiveAboveSize="5242880" maxArchiveFiles="30">
      <layout xsi:type="JsonLayout" excludeProperties="">
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffffffzzzz}" />
        <attribute name="level" layout="${level:lowerCase=true}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="callsite" layout="${callsite}"/>
        <attribute name="threadid" layout="${threadid}"/>
        <attribute name="messageTemplate" layout="${when:when='${message:raw=true}'!='${message}':inner=${message:raw=true}}" />
        <attribute name="message" layout="${message}" />
        <attribute name="code" layout="${scopeproperty:code}" />
        <attribute name="errormsg" layout="${exception:message}" />
        <attribute name="stacktrace" layout="${exception:stacktrace}" />
        <attribute name="fields" encode="false">
          <layout xsi:type="JsonLayout" MaxRecursionLimit="1000"
                  IncludeEventProperties="true" IncludeScopeProperties="true" IncludeAllProperties="true"  >
            <attribute name="SourceContext" layout="${logger}" />
          </layout>
        </attribute>
      </layout>
    </target>
    <target name="log_to_json_file2" xsi:type="File" fileName="${currentdir}/logs_json/${level}.${shortdate}.log" archiveAboveSize="5242880" maxArchiveFiles="30">
      <layout xsi:type="JsonLayout" excludeProperties="">
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffffffzzzz}" />
        <attribute name="level" layout="${level:lowerCase=true}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="callsite" layout="${callsite}"/>
        <attribute name="threadid" layout="${threadid}"/>
        <attribute name="messageTemplate" layout="${when:when='${message:raw=true}'!='${message}':inner=${message:raw=true}}" />
        <attribute name="message" layout="${message}" />
        <attribute name="code" layout="${scopeproperty:code}" />
        <attribute name="errormsg" layout="${exception:message}" />
        <attribute name="stacktrace" layout="${exception:stacktrace}" />
        <attribute name="fields" encode="false">
          <layout xsi:type="JsonLayout" MaxRecursionLimit="1000"
                  IncludeEventProperties="true" IncludeScopeProperties="true" IncludeAllProperties="true"  >
            <attribute name="SourceContext" layout="${logger}" />
          </layout>
        </attribute>
      </layout>
    </target>
    <!--#end -->
    
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="ignore" final="true" /> 
    <logger name="System.Net.Http.*" minlevel="Trace" writeTo="ignore" final="true"  />
    <logger name="*" minlevel="Debug" writeTo="log_to_file3,console,log_to_json_file" />
    <logger name="*" minlevel="Debug" writeTo="log_to_file4,log_to_json_file2" />
    <!--<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="test" />-->
  </rules>

  
</nlog>